@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro.eot');
    src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DINPro.woff2') format('woff2'),
        url('../fonts/DINPro.woff') format('woff'),
        url('../fonts/DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'DIN Pro', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
.headerTop {
	min-height: 437px;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.logoWrapper {
	text-align: right;
}
.topLogo {
	display: inline-block;
	margin: 45px 25px 0 0;
	text-align: right;
}
.formWrapper {
	text-align: right;
}
.backCallFormWrapper {
	text-align: center;
	display: inline-block;
	padding: 5px 30px;
	background-color: #404040;
	width: 240px;
}
.backCallallNumber {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.backCalltoggleButton {
	display: inline-block;
	color: #bdee39;
	font-size: 16px;
	text-decoration: none;
	padding: 5px 0 1px 0;
	border-bottom: 1px dotted #bdee39;
}
.backCalltoggleButton::after {
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	content: '\2193';
	display: inline-block;
	padding-left: 5px;
	font-size: 10px;
}
.hide {
	display: none;
}
.hide::after{
	transform: rotate(180deg);
}
.backCallForm input {
	box-sizing: border-box;
	font-family: 'DIN Pro';
}
.backCallInputPhone {
	width: 100%;
	margin: 15px 0 2px 0;
	padding: 7px;
	text-align: center;
	border: none;
	font-size: 16px;
}
.backCallInputSubmit {
	border: none;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	color: #404040;
	font-weight: 600;
	padding: 7px 30px;
	margin-bottom: 20px;
	border-bottom: 2px solid #86a532;
	background: linear-gradient(to bottom, rgba(189,238,57,1) 0%, rgba(207,255,76,1) 100%);
}
nav {
	box-shadow: 0px -4px 6px -3px #000;
	background-color: #bdee39;
}
.topMenu {
	text-align: left;
	font-size: 0;
	padding: 0;
}
.topMenu li {
	display: inline-block;
	font-size: 16px;
}
.topMenu li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #404040;
	font-weight: 600;
	display: inline-block;
	padding: 8px 34px;
	font-size: 18px;
}
.topMenu li a:hover {
	color: #ff4200;
}
.topMenu li a:first-child {
	padding-left: 0;
}
.subMenuToggle {
	position: relative;
}
.subMenuToggle:after {
	  content: "";
    width: 9px;
    height: 13px;
    background: url(../img/sprite.png) -16px 0px;
    display: block;
    position: absolute;
    top: 13px;
    left: 90px;
    opacity: 0.5;
}
.searchButton {
	float: right;
	margin-top: 12px;
	width: 16px;
	height: 16px;
	background: url(../img/sprite.png) 0px 0px;
	opacity: .5;
}
.searchForm {
	background-color: #404040;
	position: absolute;
	z-index: 999;
	width: 100%;
	padding: 33px 0;
}
.searchFormWrapper {
	font-size: 0;
}
.searchFormWrapper input {
	border: none;
	display: inline-block;
	box-sizing: border-box;
	height: 32px;
}
.searchLine {
	font-size: 16px;
	width: 75%;
	padding-left: 15px;
}
.searchNavButton {
	font-size: 16px;
	width: 25%;
}
.searchNavButton:hover {
	background: linear-gradient(to bottom,
		rgba(193,193,193,1) 0%,
		rgba(184,184,184,1) 100%);
}
.searchLine:focus {
	outline: none;
}
.projectsSubMenu {
	background-color: #404040;
	position: absolute;
	z-index: 999;
	width: 100%;
}
.subMenu {
	margin: 0;
	padding: 0;
}
.subMenu li {
	display: inline-block;
	list-style: none;
}
.subMenu li a {
	display: block;
	padding: 28px 38px;
	color: #9e9e9e;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.subMenu li a:first-child {
	padding-left: 0px;
}
.subMenu li a img {
	border: 2px solid transparent;
	border-radius: 50%;
	vertical-align: middle;
}
.subMenu li a:hover img {
	border: 2px solid #fff;
}
.subMenu li a:hover span {
	color: #fff;
}
.subMenu li a span {
	vertical-align: middle;
}
.main-navigation {
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #404040;
	font-size: 0;
}
.main-navigation li {
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 25%;
}
.main-navigation li a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	color: #858585;
	border-radius: 4px 4px 0 0;
}
.main-navigation li a:hover {
	background-color: #d9d9d9;
}
.main-navigation li a.active:hover {
	background-color: #404040;
	color: #fff;
}
.nav-header {
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #404040;
	padding: 20px 0 34px 0;
}
.main-navigation li a.active {
	background-color: #404040;
	color: #fff;
}
.slider {
	margin-top: 15px;
}
.slider-item {
	/*box-sizing: border-box;*/
	padding: 1px;
}
.slider-wrapper {
	box-shadow: 0 0 3px 0px rgba(128, 128, 128, 0.65);
	position: relative;
}
.slider-item img {
	width: 100%;
}
.slider a {
	text-decoration: none;
	color: #404040;
	font-size: 18px;
	font-weight: 600;
}
.slider img {
	display: block;
}
.slider .title {
	position: absolute;
	left: 13px;
}
.slider-footer {
	background-color: #fff;
}
.main-content {
	background-image: url(../img/mainback.png);
	padding-bottom: 50px;
}
.tab-size {
	display: inline-block;
	padding: 14px 0 10px 21px;
	margin-left: 13px;
	position: relative;
	color: #858585;
}
.tab-size:before {
	content: '';
	display: inline-block;
	position: absolute;
	height: 18px;
	width: 15px;
	top: 14px;
	left: 2px;
	background: url(../img/sprite.png) -37px 0px;
}
.tab-square {
	display: inline-block;
	padding: 14px 0 10px 21px;
	margin-left: 13px;
	position: relative;
	color: #858585;
}
.tab-square:before {
	content: '';
	display: inline-block;
	position: absolute;
	height: 18px;
	width: 15px;
	top: 15px;
	left: 2px;
	background: url(../img/sprite.png) -57px 0px;
}
sup {
	font-size: 10px;
	font-weight: 600;
}
.tab-price {
	float: right;
	color: #858585;
	padding-top: 5px;
	padding-right: 20px;
}
.supe {
	display: inline-block;
	color: #000;
	position: relative;
	white-space: pre;
	top: -10px;
	font-size: 14px;
}
.supe:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	color: red;
	width: 100%;
	height: 0;
	border-bottom: 1px solid #000;
	transform: rotate(-7deg);
}
.price {
	display: inline-block;
	color: #ff4200;
	font-size: 24px;
	font-weight: 600;
}
.price-standart {
	display: inline-block;
	color: #444;
	font-size: 24px;
	font-weight: 600;
}
.oppa {
	position: absolute;
	width: 34px;
	height: 39px;
	bottom: 35px;
	right: 20px;
	background: url(../img/sprite.png) 0px -16px;
}
.content {
	background-color: #fff;
	padding: 40px 0;
}
.content-wrapper {
	font-size: 0;
}
.left-row {
	display: inline-block;
	font-size: 16px;
	width: 75%;
}
.map {
	background: url(../img/mainmap.png);
  background-size: 100%;
  text-align: center;
  font-size: 28px;
}
.main-title {
	display: block;
	color: #333;
	padding: 10px 0 40px 0;
	margin: 0;
}
.map-number,
.map-separate {
	display: inline-block;
}
.map-content::after {
    content: "";
    display: block;
    width: 420px;
    margin: auto;
    margin-top: 19px;
    border: 1px solid #b3b3b3;
    position: relative;
}
.map-number span {
	color: #afe324;
	display: inline-block;
	padding-left: 30px;
	font-size: 54px;
	font-weight: 600;
	text-shadow: 0px 0px 5px #fff;
	border-right: 2px solid rgba(159, 168, 147, 0.76);
	height: 46px;
	line-height: 40px;
}
.map-number p {
	float: right;
	width: 150px;
	text-align: left;
	margin: 0;
	font-size: 22px;
	padding-left: 5px;
	color: #858585;
	position: relative;
	top: -6px;
	text-transform: uppercase;
	font-weight: 600;
}
.map-separate {
	color: #404040;
	position: relative;
	top: -10px;
	font-weight: 600;
}
.map-city {
	font-size: 0;
	padding: 20px 0;
}
.map-city span {
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
	font-size: 14px;
	text-align: left;
	font-weight: 600;
	color: #404040;
}
.map-city span:nth-child(1) {
	padding-left: 165px;
}
.map-city span:nth-child(2) {
	padding-left: 60px;
}
.main-text-title {
	font-size: 30px;
	margin-top: 40px;
	font-weight: 600;
	text-transform: uppercase;
	color: #404040;
	padding-left: 15px;
}
.main-text-content {
  padding-left: 15px;
  padding-top: 20px;
  line-height: 24px;
  font-size: 16px;
  color: #858585;
}
.main-text-content p {
	line-height: 24px;
  color: #858585;
  font-size: 16px;
}
.choose-title {
	padding-left: 15px;
	padding-top: 20px;
	font-size: 24px;
	font-weight: 600;
	color: #404040;
}
.choose-main img {
	float: left;
	padding-left: 15px;
}
.choose-main p {
	padding-left: 80px;
	font-size: 16px;
	color: #858585;
	line-height: 24px;
}
.choose-main p b {
	display: block;
	font-size: 18px;
	color: #404040;
}
.choose-main-text {
	padding: 20px 15px 0 15px;
	line-height: 24px;
	font-size: 16px;
	color: #858585;
}
.choose-main-text p a {
	color: #404040;
}
.choose-main-text p a:hover {
	text-decoration: none;
}
.right-row {
	vertical-align: top;
	display: inline-block;
	font-size: 16px;
	padding-left: 5px;
	width: calc(25% - 5px);
}
.main-list ul {
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-list ul li {
	font-size: 16px;
  padding-left: 21px;
  padding-bottom: 8px;
  position: relative;
}
.main-list ul li a {
	color: #404040;
}
.main-list ul li:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/sprite.png);
  background-position: -109px 0;
  width: 13px;
  left: 2px;
  height: 14px;
  top: 5px;
}
.main-list ul li a:hover {
	text-decoration: none;
}
.main-list-title {
	border-bottom: 2px solid #404040;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 12px;
}